.App {
  text-align: center;
  background-image: url("./images/BlurredKitchen.jpg");
  background-repeat: round;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container {
  /* background: rgba(255,255,255,0.5); */
  background-color: rgba(255,255,255,0.5);
  min-height: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

@media(max-width: 600px) {
  .App-container {
    /* background: rgba(255,255,255,0.5); */
    background-color: rgba(255,255,255,0.5);
    min-height: 100%;
    margin-left: 30%;
    margin-right: 30%;
  }
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background-repeat: round; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
